<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="controller">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 pull-left">
                <label> PageSize: </label>
                <select ng-model="data_limit" class="form-control">
                    <option>10</option>
                    <option>20</option>
                    <option>58</option>
                    <option>100</option>
                </select>
            </div>
            <div class="col-sm-6 pull-right">
                <label> Search:</label>
                <input type="text" ng-model="search" ng-change="filter()" placeholder="Search" class="form-control" />
            </div>
        </div>
        <div class="row" ng-show="filter_data > 0">
            <table ng-table="usersTable" show-filter=true class="table table-bordered table-striped"
                id="tblCatalogueUpdateList">
                <thead>
                    <tr>
                        <th scope="col">OEM</th>
                        <th scope="col">PCB</th>
                        <th scope="col">HFR</th>
                        <th scope="col">Luk</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Available Stock</th>
                    </tr>
                </thead>
                <tbody id="data">
                    <tr ng-repeat="item in searched = (file | filter:search | orderBy : base : reverse) | beginning_data: (currentr_grid-1) * data_limit | limitTo:data_limit"
                        ng-click="openDialog(this)" id="{{item.id}}">
                        <td data-title="'OEM'" sortable="'LUK'">{{item.OEM}}</td>
                        <td data-title="'PCB'" sortable="'PCB'">{{item.PCB}} </td>
                        <td data-title="'HFR'" sortable="'HFR'">{{item.HFR}} </td>
                        <td data-title="'LUK'" sortable="'LUK'">{{item.LUK}}</td>
                        <td data-title="'TractorModel'" sortable="'TractorModel'">{{item.TractorModel}}</td>
                        <td data-title="'AvailableStock'" sortable="'AvailableStock'">{{item.AvailableStock}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-d-12" ng-show="filter_data == 0">
            <div class="col-md-12">
                <h4>No records found..</h4>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 pull-left">
                <h5>Showing {{ searched.length }} of {{entire_user}} entries</h5>
            </div>
            <div class="col-md-6" ng-show="filter_data > 0">
                <div pagination="" page="current_grid" on-select-page="page_position(page)" boundary-links="true"
                    total-items="filter_data" items-per-page="data_limit" class="pagination-small pull-right"
                    previous-text="&laquo;" next-text="&raquo;">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.12/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="./app.js"></script>
    </body>
</html>